@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

h1, h2, h3, h4{
  @apply font-semibold
}

button{
  cursor: pointer;
  height: 40px;
  padding: 8px 12px;
}

.page-cnt{
  padding: 32px;
}

.icon{
  max-width: 24px;
}

.page-cnt button{
  margin-top: 24px;
}